*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #eac1ff;
}

.header-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-login h1{
    margin-left: 2%;
}

.header-ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
    padding-top: 5px;
}
.titulos{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.nav-item:hover{
    background-color: blue;
    font-weight:900;
}

.carousel-inner img{
   height: 60vh;
}

#artistasdestacados{
    margin: 50px 20px;
    height: 100vh;
    max-width: 95%;
}

#artistasdestacados h2{
    height: 10%;
    font-size: 8vh;
    text-align: center;
}
.contenedor{
    height: 100%;
}
.img-destacados{
    height: 90%;
}
.altdest{
    height: 50%;
    margin: 10px 0px;
}

.altdest img{
    height: 100%;
}
.col1{
    display: flex;
    column-gap: 1.5%;
}
.col1 img{
    width: 51.5%;
}
.col2{
    display: flex;
    column-gap: 1.5%;
}
.col2 img{
    width: calc(97% / 3);
}

#subastas{
    text-align: center;
}
#subastas-div{
    display: flex;
    justify-content: space-evenly;
}

.subasta-card{
    display: flex;
    height: 400px;
    width: 46%;
    border: 2px black solid;
    border-radius: 15px;
}

.conteiner-mail{
    padding: 10px;
    align-items: flex-end;
}

.conteiner-nombre{
    display: flex;
    align-items: flex-end;
}
.conteiner-telefono{
    display: flex;
    align-items: flex-end
}



#comprar{
    font-size: 30px;
    border-radius: 7px;
    justify-content: center;
    margin-bottom: 10px;
}
#comprar:hover{
    background-color: blue;
}
.input-conteiner{
    margin: 10px;
    height: 35px;
}

.subasta-img-container {
    width: 50%;
    height: auto;
    border-radius: 7px;
}
.subasta-img-container img{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;

}
.conteiner-precio-inicial{
    font-size: 20px;
    font-weight: 30px;
    padding-right: 8px;
}
.precio-subasta{
    font-size: 30px;
    font-weight: 30px;
}
.conteiner-precios{
    align-items:baseline;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.caja-input-subasta{
    margin-bottom: 10px;
}
.btn-subastar{
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px black solid;
}
.btn-subastar:hover{
    color: blue;
}
.titulo-carta{
    display: flex;
    justify-content: center;
    margin: 70px;
    font-size: 50px;
}
.carta-columna{
    display: flex;
}

.card{
    margin: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carrito{
    width: 40%; 
    background-color: lightcoral; 
    height: auto;
    top: 50%;
    left: 70%;
    position: sticky;

 }
 #carrito h2{
    display: flex;
    justify-content: center;
    font-family: cursive;
 }
 td{
    height: 40px;
  }
.botones-carrito{
    width: 30px;
    border-radius: 30px;
    font-size: 30px;
}
.botones-carrito:hover{
    background-color: blue;
}
  /** Agrege la clasee carrito-img, fijate en la linea 129 del archivo subastas.js que le agregue la clase al elemento que estabas creando**/
  .carrito-img{ 
    height: 60px;
    width: 60px;
  }

  #compraFinal{
    font-size: 30px;
    border-radius: 7px;
    justify-content: center;
    margin-bottom: 10px;
}

#areaMarket{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  justify-items: center;
}